# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

01_CppArcada/Saved/
01_CppArcada/Intermediate/
01_CppArcada/Build/
01_CppArcada/Binaries/
01_CppArcada/.vs/

